@font-face {
    font-family: 'iCiel Monterey Script';
    src: url('iCielMontereyScript-Regular.woff2') format('woff2'),
        url('iCielMontereyScript-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

